.toaster{
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    z-index: 99999;
    text-align: right;
}

.toast{
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #E10060;
    color: white;
    margin: 4px;
}