nav.vertical{
    position: fixed;
    width: 100%;
    background: white;
    padding: 4px 8px;
    z-index: 9999;
    border-bottom: 0.6px solid #00000033;

}

.left{
    float: left;
}
.icon{
    cursor: pointer;
    height: 40px;
}

.right{
    margin-top: 8px;
    float: right;
}
.right > *{
    color: #666666;
    margin: 0 8px;
}
