

.container{
    border-radius: 4px;
    border: 0.6px solid #00000022;
    background-color: #fafafa;
}
.container> *{
    margin: 0;
    display: flex;
    width: 50%!important;
    padding: 16px;

    justify-content: space-between;
    flex-direction: column;
}
.container> *:nth-child(1){
    border-right: 0.6px solid #00000022;
    justify-content: center;
}
.container> *:nth-child(1)> img{
    width: 100%;
    height: auto;
    max-height: 100%;
}

.container> *:nth-child(2)> *:nth-child(2){
    margin: 16px 0;
}

.price{
    display: block;
    font-size: 1.6rem;
    font-weight: 800;
    color: #E10060;
}
.score{
    display: block;
    font-size: 1.3rem;
    font-weight: 600;
    color: darkorange;
}

